In [21]:
import pandas as pd
import numpy as np
import operator

In [22]:
import sys
sys.path.append('../../../src')
from preprocess_utils import interactions, correlated_cols, cols_to_drop_base_on_pval, cols_pval

In [23]:
data_dir = '../data'

In [16]:
file_name = 'train'

In [17]:
df = pd.read_csv(f"{data_dir}/raw/{file_name}.csv", index_col='id').convert_dtypes()
display(train.shape)
df.head(2)

(300000, 31)

,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10
id,,,,,,,,,,,,,,,,,,,,,
5,A,F,A,A,F,BI,A,AH,AX,A,...,0.735690,0.578366,0.723154,0.228037,0.356227,0.551249,0.655693,0.598331,0.359987,0.947489
6,A,H,C,A,E,AB,I,F,N,A,...,0.313703,0.928885,0.516602,0.600169,0.795224,0.248987,0.654614,0.347944,0.565520,0.388580

In [18]:
categorical_cols = [col for col in df.columns if col.startswith('cat')]
numeric_cols = [col for col in df.columns if col.startswith('cont')]

In [19]:
df[categorical_cols] = df[categorical_cols].astype('category')

In [20]:
df.to_parquet(f"{data_dir}/interim/{file_name}.parq", engine='pyarrow')